@model GraphMapper.Models.Grid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grid</h4>
    <hr />
    <article id="map"></article>
</div>
<p style="clear: both">
    @Html.ActionLink("Edit", "Edit", new { id = Model.GridID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
