@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "GraphMapper";
}

<section id="commands"></section>
<section id="shapes"></section>
<article id="map"></article>
<section id="preview"></section>
<section id="colors"></section>
