@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "GraphMapper";
}

<article id="map"></article>
<section id="Commands"></section>
<section id="shapes">shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes shapes</section>
<section id="preview"></section>
<section id="colors"></section>

<h2>GraphMapper</h2>

<p>Hello from our View Template!</p>